<%- include('../header') %>
  <main class="flex-1 grid grid-cols-5 gap-4 relative">
    <div class="border border-current border-dashed rounded-lg">
      + 制作谜题
    </div>
  </main>
<%- include('../footer') %>