<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico" />
  <meta name="color-scheme" content="light dark">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title><%= locals.title ? locals.title + ' | WJU Puzzle' : 'WJU Puzzle' -%></title>
  <link rel="stylesheet" href="https://cdn.time-pack.com/fonts/fonts.css">
  <script src="/assets/dark.js"></script>
</head>
