<%- include('header') %>
  <section class="space-y-2 w-full flex justify-center items-center h-full space-y-2 flex-col">
    <section class="text-center w-full space-x-2">
      <a href="login/fishpi" aria-label="使用摸鱼派账号登录" class="inline-block">
        <img src="images/fishpi.svg" class="w-[3.5em]" />
      </a>
      <% if (locals.config.login.githubClientId && locals.config.login.githubClientSecret) { -%>
      <a href="login/github" aria-label="使用 GitHub 账号登录" class="inline-block">
        <img src="images/github.svg" class="w-[3.5em]" />
      </a>
    </section>
    <% } -%>
    <% if (locals.message){ -%>
      <p class="<%= type -%> message">
        <%= message -%>
      </p>
    <% } -%>
  </section>
<%- include('footer') %>